<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/TemplateLicitaPaineis.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="pn_info">

       <h:form id="formDtLicitador">

           <p:dataTable id='dt_licitadores' var="entidade"  value="#{controladorLicitador.licitadoras}" 
                         widgetVar="tbl_licitadores" paginator="true" style="padding:5px" rows="10" rowsPerPageTemplate="5,10"  
                         emptyMessage="Nenhum Instituição Cadastrada"  paginatorAlwaysVisible="true">

                <f:facet name="header">
                    <p:outputPanel>
                        <p:button value="Novo" style="width: 80px" outcome="/restrito/licitadores/licitadorSalvar.xhtml"  icon="fa fa-plus" 
                                         class="botaoNovo"/>
                        <p:inputText id="globalFilter" onkeyup="PF('tbl_licitadores').filter()" style="width:250px" placeholder="Digite sua busca" />
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="CNPJ" filterBy="#{entidade.pessoaJuridica.cnpj}" filterMatchMode="contains" filterStyle="display:none">
                    <h:outputText value="#{entidade.pessoaJuridica.cnpj}" />
                </p:column>
                <p:column headerText="Nome de Fantasia" filterBy="#{entidade.pessoaJuridica.nomeFantasia}" filterMatchMode="contains" filterStyle="display:none">
                    <h:outputText value="#{entidade.pessoaJuridica.nomeFantasia}" />
                </p:column>

                <p:column headerText="Ações" width="50">

                    <p:commandButton id="btEditar" icon="ui-icon-pencil" action="#{controladorLicitador.prepararEditar}" update="@form"  
                                     style="font-size: 10px">
                        <f:setPropertyActionListener value="#{entidade}" target="#{controladorLicitador.licitadora}"  />
                        <p:tooltip for="btEditar" value="Editar"/>
                    </p:commandButton>

                    <p:commandButton id="btExcluir" icon="fa fa-trash" action="#{controladorLicitador.remover}" update="@form" 
                                     style="font-size: 10px">
                        <f:setPropertyActionListener value="#{entidade}" target="#{controladorLicitador.licitadora}"  />
                        <p:tooltip for="btExcluir" value="Excluir"/>
                        <p:confirm icon="ui-icon-alert" header="Excluir Instituição" message="Deseja realmente excluir esta Instituição"/>
                    </p:commandButton>

                </p:column>

            </p:dataTable>
        </h:form>

    </ui:define>

    <ui:define name="pn_conteudo">

        <h:form id="licitador_form" title="Licitador" style="text-align: center"  >

            <p:growl id="growLicitador" showDetail="false" life="3000" class="ui-growl"/>

            <div style="margin-left: 2%; margin-top: 2%; margin-right: 2%">

                <h:panelGrid columns="4" id="panelGridSaveLicitador" columnClasses="colunaEsquerda,colunaDireita,colunaEsquerda,colunaDireita">

                    <p:outputLabel value="CNPJ:" for="cnpj"/>
                    <p:inputMask id="cnpj" value="#{controladorLicitador.licitadora.pessoaJuridica.cnpj}" title="CNPJ" required="true" requiredMessage="O campo CNPJ é obrigatório" 
                                 mask="99.999.999/9999-99" placeholder="CNPJ"/>

                    <p:outputLabel value="Razão Social:" for="razaoSocial"/>
                    <p:inputText id="razaoSocial" value="#{controladorLicitador.licitadora.pessoaJuridica.razaoSocial}" title="Razão Social" required="true" 
                                 requiredMessage="O campo Razão Social é obrigatorio" placeholder="Razão Social"/>
                    
                    <p:outputLabel value="Nome de Fantasia:" for="nomeFantasia"/>
                    <p:inputText id="nomeFantasia" value="#{controladorLicitador.licitadora.pessoaJuridica.nomeFantasia}" title="Nome de Fantasia" required="true" 
                                 requiredMessage="O campo nome de fantasia é obrigatorio" placeholder="Nome de Fantasia"/>

                   
                    <p:outputLabel value="Logradouro:" for="logradouro" />
                    <p:inputText id="logradouro" value="#{controladorLicitador.licitadora.pessoaJuridica.endereco.logradouro}" title="Logradouro" placeholder="Logradouro" maxlength="60"/>

                    <p:outputLabel value="Cidade:" for="cidade"/>
                    <p:inputText id="cidade" value="#{controladorLicitador.licitadora.pessoaJuridica.endereco.cidade}" title="Cidade" placeholder="Cidade" maxlength="60" required="true" requiredMessage="O campo cidade é obrigatório"/>

                    <p:outputLabel value="Numero:" for="numero"/>
                    <pe:inputNumber id="numero" value="#{controladorLicitador.licitadora.pessoaJuridica.endereco.numero}" title="Numero" maxValue="9999999" decimalPlaces="0"/>

                    <p:outputLabel value="Estado:" for="estado"/>
                    <h:selectOneMenu id="estado" value="#{controladorLicitador.licitadora.pessoaJuridica.endereco.estado}" required="true" requiredMessage="O campo estado é obrigatório" style="width:188px">

                        <f:selectItem noSelectionOption="true" />
                        <f:selectItem itemLabel="Acre" itemValue="AC" />
                        <f:selectItem itemLabel="Alagoas" itemValue="AL" />
                        <f:selectItem itemLabel="Amapá" itemValue="AP" />
                        <f:selectItem itemLabel="Amazonas" itemValue="AM" />
                        <f:selectItem itemLabel="Bahia" itemValue="BA" />
                        <f:selectItem itemLabel="Ceará" itemValue="CE" />
                        <f:selectItem itemLabel="Distrito Federal" itemValue="DF" />
                        <f:selectItem itemLabel="Espírito Santo" itemValue="ES" />
                        <f:selectItem itemLabel="Goiás" itemValue="GO" />
                        <f:selectItem itemLabel="Maranhão" itemValue="MA" />
                        <f:selectItem itemLabel="Mato Grosso" itemValue="MT" />
                        <f:selectItem itemLabel="Mato Grosso do Sul" itemValue="MS" />
                        <f:selectItem itemLabel="Minas Gerais" itemValue="MG" />
                        <f:selectItem itemLabel="Pará" itemValue="PA" />
                        <f:selectItem itemLabel="Paraíba" itemValue="PB" />
                        <f:selectItem itemLabel="Paraná" itemValue="PR" />
                        <f:selectItem itemLabel="Pernanbuco" itemValue="PE" />
                        <f:selectItem itemLabel="Piauí" itemValue="PI" />
                        <f:selectItem itemLabel="Rio de Janeiro" itemValue="RJ" />
                        <f:selectItem itemLabel="Rio Grande do Norte" itemValue="RN" />
                        <f:selectItem itemLabel="Rio Grande do Sul" itemValue="RS" />
                        <f:selectItem itemLabel="Rondônia" itemValue="RO" />
                        <f:selectItem itemLabel="Roraima" itemValue="RR" />
                        <f:selectItem itemLabel="Santa Catarina" itemValue="SC" />
                        <f:selectItem itemLabel="São Paulo" itemValue="SP" />
                        <f:selectItem itemLabel="Sergipe" itemValue="SE" />
                        <f:selectItem itemLabel="Tocantins" itemValue="TO" />

                    </h:selectOneMenu>

                    <p:outputLabel value="CEP:" for="cep"/>
                    <p:inputMask id="cep" value="#{controladorLicitador.licitadora.pessoaJuridica.endereco.cep}" 
                                 title="CEP" mask="99.999-999" placeholder="CEP"/>

                    <p:outputLabel value="Telefone:" for="telefone"/>
                    <p:inputMask id="telefone" value="#{controladorLicitador.licitadora.pessoaJuridica.contatoPessoaJuridica.telefone}" 
                                 title="Telefone" mask="(99)9999-9999" placeholder="Telefone" maxlength="14"/>

                    <p:outputLabel value="Celular:" for="celular"/>
                    <p:inputMask id="celular" value="#{controladorLicitador.licitadora.pessoaJuridica.contatoPessoaJuridica.celular}" 
                                 title="Celular" mask="(99)99999-9999" placeholder="Celular" maxlength="14"/>

                    <p:outputLabel value="E-mail:" for="email"/>
                    <p:inputText id="email" styleClass="lower" value="#{controladorLicitador.licitadora.pessoaJuridica.contatoPessoaJuridica.email}" 
                                 size="25" validatorMessage="E-mail incorreto" title="E-mail" placeholder="E-mail">
                        <f:validateRegex pattern="^$|^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})$"/>
                    </p:inputText>
                        

                    <p:outputLabel value="Complemento:"  for="complemento"/>
                    <p:inputTextarea id="complemento" value="#{controladorLicitador.licitadora.pessoaJuridica.endereco.complemento}" title="Complemento" placeholder="Complemento" 
                                     rows="3" cols="30" counter="display" maxlength="50" counterTemplate="{0} caracteres restantes." 
                                     autoResize="true" style="width:190px"/>

                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:outputLabel id="display" />

                </h:panelGrid>
            </div>

            <div style="margin-left: 2%; margin-top: 2%; margin-right: 2%">

                <p:commandButton  id="btSalvarLicitador" value="Salvar" icon="fa fa-save" action="#{controladorLicitador.criar}" update="@form" ajax="false"/>

            </div>

        </h:form>

    </ui:define> 

</ui:composition>
