<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/TemplateLicitaPaineis.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="pn_info">

        <h:form id="formDtPregao">

            <p:dataTable id='dt_pregoes' var="entidade" value="#{controladorPregao.pregoes}" 
                         widgetVar="tbl_pregoes" paginator="true" style="padding:5px" rows="10" rowsPerPageTemplate="5,10"  
                         emptyMessage="Nenhum pregão cadastrado"  paginatorAlwaysVisible="true">

                <f:facet name="header">
                    <p:outputPanel>
                        <p:button value="Novo" style="width: 80px" 
                                  outcome="/restrito/pregao/pregaoSalvar.xhtml"
                                  icon="fa fa-plus" 
                                  class="botaoNovo"/>
                        <p:inputText id="globalFilter" onkeyup="PF('tbl_pregoes').filter()" style="width:250px" placeholder="Digite sua busca" />
                    </p:outputPanel>
                </f:facet>


                <p:column headerText="Número do processo" filterBy="#{entidade.numeroProcesso}" filterMatchMode="contains" filterStyle="display:none" >
                    <h:outputText value="#{entidade.numeroProcesso}" />
                </p:column>

                <p:column headerText="Número do pregão" filterBy="#{entidade.numeroPregao}" filterMatchMode="contains" filterStyle="display:none">
                    <h:outputText value="#{entidade.numeroPregao}" />
                </p:column>

                <p:column headerText="Status" filterBy="#{entidade.statusPregao}" filterMatchMode="contains" filterStyle="display:none">
                    <h:outputText value="#{entidade.statusPregao}" />
                </p:column>


                <p:column headerText="Ações" width="75">

                    <p:commandButton id="btEditar" icon="ui-icon-pencil" action="#{controladorPregao.prepararEditar}" update="@form"  style="font-size: 10px">
                        <f:setPropertyActionListener value="#{entidade}" target="#{controladorPregao.pregao}"  />
                        <p:tooltip for="btEditar" value="Editar"/>
                    </p:commandButton>

                    <p:commandButton id="btExcluir" icon="ui-icon-trash" action="#{controladorPregao.remover}" update="@form" style="font-size: 10px">
                        <f:setPropertyActionListener value="#{entidade}" target="#{controladorPregao.pregao}"  />
                        <p:tooltip for="btExcluir" value="Excluir"/>
                        <p:confirm icon="ui-icon-alert" header="Excluir Pregão" message="Deseja realmente excluir este pregão"/>
                    </p:commandButton>

                    <p:commandButton id="btAdicionaItens" icon="fa fa-shopping-cart" action="#{controladorPregao.prepararAdicionarItens}" 
                                     update="@form" style="font-size: 10px">
                        <f:setPropertyActionListener value="#{entidade}" target="#{controladorAdicionarItens.pregao}"  />
                        <p:tooltip for="btAdicionaItens" value="Adicionar Itens"/>
                    </p:commandButton>

                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

    <ui:define name="pn_conteudo">
        <p:growl id="growPregao" showDetail="false" life="3000" class="ui-growl" />
    </ui:define> 


</ui:composition>


