<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/TemplateLicitaPaineis.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define id="define_info" name="pn_info" >

        <h:form id="formDtItem">

            <p:dataTable id='dt_itens' var="entidade" value="#{controladorItem.itens}" 
                         widgetVar="tbl_itens" paginator="true" style="padding:5px" rows="12" rowsPerPageTemplate="5,10"  
                         emptyMessage="Nenhum Item Cadastrado"  paginatorAlwaysVisible="true" scrollable="false">

                <f:facet name="header">
                    <p:outputPanel>
                        <p:inputText id="globalFilter" onkeyup="PF('tbl_itens').filter()" style="width:250px" placeholder="Digite sua busca" />
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="Código do item" filterBy="#{entidade.id}" filterMatchMode="contains" filterStyle="display:none" width="60">
                    <h:outputText value="#{entidade.id}" />
                </p:column>

                <p:column headerText="Nome do item" filterBy="#{entidade.nome}" filterMatchMode="contains" filterStyle="display:none">
                    <h:outputText value="#{entidade.nome}" />
                </p:column>

                <p:column headerText="Unidade" filterBy="#{entidade.unidade}" filterMatchMode="contains" filterStyle="display:none">
                    <h:outputText value="#{entidade.unidade}" />
                </p:column>

                <p:column headerText="Adicionar Item" width="70">
                    
                    <!---->
                    
                    <p:commandButton id="btAdiconarItemPregao" icon="ui-icon-plus" action="#{controladorAdicionarItens.adicionarItem}" 
                                     update=":pregao_form:formDtItemPregao:dt_itensPregao"
                                     style="font-size: 10px" >
                        <f:setPropertyActionListener value="#{entidade}" target="#{controladorAdicionarItens.item}"  />
                        <p:tooltip for="btAdiconarItemPregao" value="Adicionar"/>
                    </p:commandButton>

                </p:column>

            </p:dataTable>
        </h:form>

    </ui:define>

    <ui:define id="define_conteudo" name="pn_conteudo">

        <p:growl id="growPregaoAdicionarItens" showDetail="false" life="3000" class="ui-growl" />

        <h:form id="pregao_form" title="Pregão" style="text-align: center">

            <div style="margin-left: 2%; margin-top: 2%; margin-right: 2%">

                <h:panelGrid columns="4" id="panelGridAdicionarItens">

                    <p:outputLabel value="Número do Processo:" for="numeroProcesso" style="font-weight:bold"/>
                    <p:outputLabel id="numeroProcesso" value="#{controladorAdicionarItens.pregao.numeroProcesso}"/>

                    <p:outputLabel value="Número do Pregão:" for="numeroPregao" style="font-weight:bold"/>
                    <p:outputLabel id="numeroPregao" value="#{controladorAdicionarItens.pregao.numeroPregao}"/> 

                    <p:outputLabel value="Status do Pregão:" for="statusDoPregao" style="font-weight:bold"/>
                    <p:outputLabel id="statusDoPregao" value="#{controladorAdicionarItens.pregao.statusPregao}"/>

                    <p:outputLabel value="Instituição Licitadora:" for="instituicaoLicitadora" style="font-weight:bold"/>
                    <p:outputLabel id="instituicaoLicitadora" value="#{controladorAdicionarItens.pregao.instituicaoLicitadora.pessoaJuridica.nomeFantasia}"/>

                </h:panelGrid>
            </div>

            <div style="margin-left: 2%; margin-top: 2%; margin-right: 2%">

                <p:commandButton  id="btAtualizarPregao" value="Atualizar" icon="fa fa-refresh" action="#{controladorAdicionarItens.atualizar()}" 
                                  update=":pn_info : dt_pregoes" ajax="false" />


            </div>

            <h:form id="formDtItemPregao" prependId="false">

                <p:dataTable id='dt_itensPregao' var="entidade" value="#{controladorAdicionarItens.itensPregao}" 
                             widgetVar="tbl_itensPregao" paginator="true" style="padding:5px" rows="8" rowsPerPageTemplate="5,10,30,50,100"  
                             emptyMessage="Nenhum Item de Pregao Adicionado"  paginatorAlwaysVisible="true" editable="true" editMode="cell">

                    <f:facet name="header">
                        <p:outputPanel>
                            <p:inputText id="globalFilter" onkeyup="PF('tbl_itensPregao').filter()" style="width:250px" placeholder="Digite sua busca" />
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="Código do Item" filterBy="#{entidade.item.id}" filterMatchMode="contains" filterStyle="display:none">
                        <h:outputText value="#{entidade.item.id}" />
                    </p:column>

                    <p:column headerText="Nome do item" filterBy="#{entidade.item.nome}" filterMatchMode="contains" filterStyle="display:none">
                        <h:outputText value="#{entidade.item.nome}" />
                    </p:column>

                    <p:column headerText="Unidade" filterBy="#{entidade.item.unidade}" filterMatchMode="contains" filterStyle="display:none">
                        <h:outputText value="#{entidade.item.unidade}" />
                    </p:column>


                    <p:column headerText="Quantidade" filterBy="#{entidade.quantidade}" filterMatchMode="contains" filterStyle="display:none">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{entidade.quantidade}" /></f:facet>
                            <f:facet name="input"><pe:inputNumber value="#{entidade.quantidade}"  style="width:96%"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Valor de Referencia" filterBy="#{entidade.valorReferencia}" filterMatchMode="contains" filterStyle="display:none">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{entidade.valorReferencia}" /></f:facet>
                            <f:facet name="input"><pe:inputNumber value="#{entidade.valorReferencia}" symbol="R$ " style="width:96%"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Excluir" width="50" >

                        <p:commandButton id="btExcluirItemPregao" icon="ui-icon-trash" action="#{controladorAdicionarItens.removerItem}" 
                                         update=":pregao_form:formDtItemPregao:dt_itensPregao"
                                         style="font-size: 10px" >
                            <f:setPropertyActionListener value="#{entidade}" target="#{controladorAdicionarItens.itemPregao}"  />
                            <p:tooltip for="btExcluirItemPregao" value="Excluir"/>
                        </p:commandButton>

                    </p:column>

                </p:dataTable>

                <p:commandButton value="Export Excel" ajax="false" icon="fa fa-file-excel-o">
                    <p:dataExporter type="xls" target="dt_itensPregao" fileName="Itens Pregao nº:#{controladorAdicionarItens.pregao.numeroPregao}" postProcessor="#{controladorAdicionarItens.editandoXlsParaExportar}" />
                </p:commandButton>

            </h:form>

        </h:form>

    </ui:define> 

</ui:composition>
